interactions:
- request:
    body:
    headers:
    method: GET
    uri: https://api.foursquare.com/v2/users/self/checkins?limit=250&offset=0&v=20200130&oauth_token=TEST
  response:
    body: &body1
      string: |
        {
          "meta": {
            "code": 200,
            "requestId": "5f9603c27b3a283282a80af8"
          },
          "notifications": [
            {
              "type": "notificationTray",
              "item": {
                "unreadCount": 19
              }
            }
          ],
          "response": {
            "checkins": {
              "count": 3,
              "items": [
                {
                  "id": "5e45c278162b2c0008794e67",
                  "createdAt": 1581630072,
                  "type": "checkin",
                  "timeZoneOffset": 60,
                  "venue": {
                    "id": "5ca22fa1f4b525002cc391b4",
                    "name": "U Vašinů",
                    "contact": {
                      "phone": "774215243",
                      "formattedPhone": "774 215 243",
                      "facebook": "1431852240457668",
                      "facebookUsername": "uvasinu",
                      "facebookName": "U Vašinů - craft beer & food"
                    },
                    "location": {
                      "address": "Kotlářská 907/41",
                      "lat": 49.207467399173076,
                      "lng": 16.60221666114012,
                      "labeledLatLngs": [
                        {
                          "label": "display",
                          "lat": 49.207467399173076,
                          "lng": 16.60221666114012
                        }
                      ],
                      "postalCode": "602 00",
                      "cc": "CZ",
                      "neighborhood": "Veveří",
                      "city": "Brno",
                      "state": "South Moravian Region",
                      "country": "Czech Republic",
                      "formattedAddress": [
                        "Kotlářská 907/41",
                        "602 00 Brno",
                        "Česká republika"
                      ]
                    },
                    "categories": [
                      {
                        "id": "56aa371ce4b08b9a8d57356c",
                        "name": "Beer Bar",
                        "pluralName": "Beer Bars",
                        "shortName": "Beer Bar",
                        "icon": {
                          "prefix": "https://ss3.4sqi.net/img/categories_v2/nightlife/pub_",
                          "suffix": ".png"
                        },
                        "primary": true
                      }
                    ],
                    "verified": false,
                    "stats": {
                      "tipCount": 0,
                      "usersCount": 42,
                      "checkinsCount": 91
                    },
                    "allowMenuUrlEdit": true,
                    "beenHere": {
                      "lastCheckinExpiredAt": 0
                    }
                  },
                  "likes": {
                    "count": 0,
                    "groups": []
                  },
                  "like": false,
                  "isMayor": false,
                  "photos": {
                    "count": 0,
                    "items": []
                  },
                  "posts": {
                    "count": 0,
                    "textCount": 0
                  },
                  "comments": {
                    "count": 0
                  },
                  "source": {
                    "name": "Swarm for Android",
                    "url": "https://www.swarmapp.com"
                  }
                },
                {
                  "id": "5e452f61ba340a000874006b",
                  "createdAt": 1581592417,
                  "type": "checkin",
                  "timeZoneOffset": 60,
                  "venue": {
                    "id": "4d85e88b8de9721e70d44f51",
                    "name": "Zahrada Ambrosia",
                    "contact": {
                      "phone": "734176934",
                      "formattedPho[...]
[...]
- request:
    body:
    headers:
    method: GET
    uri: https://api.foursquare.com/v2/users/self/checkins?limit=250&offset=0&v=20200130&oauth_token=TEST
  response:
    body: *body1
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Remaining:
      - '497'
    status:
      code: 200
      message: OK
version: 1
